
.stepper .input-group {
  display: flex;
  align-items: center;
}

.stepper .form-control {
  border-left: 0;
  border-right: 0;
  box-shadow: none;
}

.stepper .btn {
  border-radius: 50%;
  width: 38px;
  height: 38px;
  display: flex;
  align-items: center;
  justify-content: center;
}
