@import url("https://fonts.googleapis.com/css2?family=Comfortaa:wght@300&display=swap");

body {
  font-family: "Comfortaa", cursive;
}

main {
  min-height: 80vh;
  background-color: rgb(20, 180, 116);
}

.react-datepicker-wrapper {
  width: 100%;
}

.date-time-field input[type=text] {
  width: 100%;
}

.booking-form {
  display: flex;
  flex-direction: column;
  gap: 20px;
  justify-content: center;
  align-items: center;
  padding: 20px 20px;
  width: 100%;
}

.booking-form div {
  width: 100%;
}

.booking-form button {
  background-color: #156B7A;
  color: white;
  padding: 12px 24px;
  border: none;
  outline: none;
}

#mainmenu {
  display: none;
  flex-direction: column;
  list-style: none;
  padding: 0;
  margin: 0;
}

#mainmenu.open {
  display: flex;
}

@media (min-width: 768px) {
  #mainmenu {
    display: flex !important;
    flex-direction: row;
  }
  #menu-btn {
    display: none;
  }
}

@media (max-width: 768px) {

  .label-my-account {
    display: none;
  }
  #mainmenu {
    display: flex;
    flex-direction: column;
  }
  /* #menu-btn {
    display: none;
  } */
}

#mainmenu li a {
  font-size: 20px;
}